#lastItemDot {
  display: none;
}
.caret-down-45 svg {
  transform: rotate(45deg);
}
.caret-without-content #caret-arrow {
  display: none;
}
.caret-without-content-outer svg {
  display: none;
}
.caret-without-content-outer #lastItemDot {
  display: block;
  font-size: 26px;
  color: var(--fontColor);
}

.caret-without-content #lastItemDot {
  display: block;
  font-size: 26px;
  color: var(--fontColor);
  /* margin-top: 6px;
  margin-right: 8px;
  margin-left: 23px; */
}
.caret-without-content {
  color: black;
  align-items: center;
}
svg:hover {
  background: lightgray;
  border-radius: 33px;
}
.ideacardDiv {
  display: flex;
  gap: 7px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 6px;
  margin-left: -4px;
  padding: 5px;
  color: black;
  margin-top: 7px;
  margin-bottom: -10px;
}

.highlightDiv {
  display: flex;
  gap: 12px;
  margin-left: 6.5px;
  align-items: center;
  color: black;
}
.highlightDiv svg {
  font-size: 0.5rem;
}
