:root {
  --fill: 0;
  --white: #ffffff;
  --fontColor: #717171;
  --HoverOver: #EDEDED;
  --ClickState: #E3E3E3;
  --BackgroundColor: #F9F9F9;
  --NavigationBackgroundColor: #FFFFFF;
  --fontSizeRegular:14px;
  --borderColors: #e5e4e4;
  --fontSizeHeading:21px;
  --inputBorderColor:#e5e4e4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
body {
  background-color: var(--BackgroundColor);
}
.main-container {
  display: flex;
}
main {
  padding: 10px;
}

.title {
  font-size: 3rem;
  display: grid;
  place-items: center;
}

/* Sidebar */
.sidebar {
  background: var(--NavigationBackgroundColor);
  color: var(--fontColor);
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: baseline;
  overflow: hidden;
}

.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
}
.logo {
  font-size: 18px;
  line-height: 0;
}
.bars {
  width: 30px;
  cursor: pointer;
  margin-left: 16px;
  margin-bottom: 21px;
}
.hide {
  display: none;
}

.search {
  display: flex;
  align-items: center;
  margin: 10px 0;
  height: 30px;
  padding: 10px;
}
.search input {
  border: none;
  margin-left: 10px;
  border-radius: 5px;
  background: rgb(238, 238, 238);

  color: var(--BackgroundColor);
}

.routes {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.link {
  display: flex;
  color: var(--fontColor);
  background: var(--NavigationBackgroundColor);
  gap: 19px;
  padding: 5px 10px;
  --fill: 0;
  border: none;
  cursor: pointer;
  align-items: center;
  margin: 9px 0px;
  /* transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045); */
}
.linkCollapsible {
  display: flex;
  flex-flow: column;
  color: var(--fontColor);
  background: var(--NavigationBackgroundColor);
  align-items: center;
  gap: 1px;
  padding: 6px 4px;
  --fill: 0;
  border: none;
  cursor: pointer;
  margin: 9px 0px;
  /* transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045); */
}
.linkCollapsible:hover {
  border: none;
  background: var(--HoverOver);
  border-radius: 24px;
  --fill: 1;
  /* transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045); */
}
.link:hover {
  border: none;
  background: var(--HoverOver);
  border-radius: 24px;
  --fill: 1;
  /* transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045); */
}
.link:active {
  border: none;
  background: var(--ClickState);
  --fill: 1;
  border-radius: 24px;
  transform: scale(0.98);
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.24);
}
.linkCollapsible:active {
  border: none;
  background: var(--ClickState);
  --fill: 1;
  transform: scale(0.98);
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.24);
}
.link_text {
  white-space: nowrap;
  font-size: var(--fontSizeRegular);
  background-color: transparent;
}
.link_text_collapse {
  white-space: nowrap;
  font-size: 10px;
  background-color: transparent;
}
.menu {
  display: flex;
  color: #717171;

  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  justify-content: space-between;
}
.menu :hover {
  --fill: 1;
}
.menu_item {
  display: flex;
  gap: 10px;
}
.menu_container {
  display: flex;
  flex-direction: column;
}
.menu_container .link {
  padding-left: 20px;
  border-bottom: #fff 0.5px solid;
}

.icon svg {
  background-color: transparent;
  /* fill: 0; */
}
.material-symbols-outlined {
  font-variation-settings: "FILL" var(--fill), "wght" 400, "GRAD" 0, "opsz" 48;
}

.sidebarLayer2
{
  width: 294px;
}

/* //Scrollbar Css */
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--BackgroundColor); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
