.feedParentContainer {
  height: 100vh;
  overflow: auto;

  padding: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0;
  /* background-color: var(--BackgroundColor); */
}
.feedBoxLayout {
  width: 50%;
}
.libraryLists {
  width: 100%;
  display: flex;
  background: transparent;
  justify-content: space-between;
  /* gap: 13px; */
}
.fetchStatusIconContainer {
  align-self: end;
}
.libraryListsContainer {
  margin: 11px 0px;
  position: relative;
  margin-top: 0;
  /* border: 1px solid grey;
  border-radius: 9px;
  padding: 0px 3px; */
}
.libraryListsImg {
  width: 123px;
  height: 190px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}
.dots {
  display: inline-block;
}
.container {
  position: relative;
  display: inline-block;
}

.reactionButtonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.5rem 0;
}
.otherAccordians {
  margin-left: 2.5rem;
  margin-top: 0.6rem;
  margin-right: 0.5rem;
  margin-bottom: 3rem;
}
.fetchStatusIconContainer {
  padding-top: 6px;
}

/* //IdeacardStyling */

.myNotesInput::placeholder {
  font-size: 21px;
}
.ideacard-Title {
  position: sticky;
  top: -2px;
  background: white;
  z-index: 11;
  padding-top: 0.5rem;
  border-radius: 12px;
}
